header {
	position: fixed;
	top: 0;
	width: 100%;
}
nav {
	display: grid;
	grid-template-columns: 3fr 4fr 2fr;
	grid-gap: 10px;
	border-radius: 5px;
	box-shadow: -1px 6px 5px 0px #00000069;
	background-color: #ce3535;
	padding-top: 15px;
	color: #fff;
}
header h1 {
	margin-left: 20px;
	text-align: center;
	font-size: 40px;
}

.score {
	display: grid;
	grid-auto-columns: minmax(200px, 1fr);
}
.score div {
	padding: 1em;
	font-size: 20px;
}
